<div class="container">
    <div class="space"></div>
<header>
    <div class="header-left">
        <!-- Logo -->
        <figure class="logo-header">
            <a href="/">
                <img src="../../images/logoNegro.png" alt="" width="100%">
            </a>
        </figure>
    </div>
    <div class="header-center">
         <!-- Menu -->
        <nav class="menu">
            <ul class="initialbar">
                <!-- <div class="dropdown-header"> -->
                <li><a href="/">Inicio</a></li>
                <li><a class="categorias-header" href="#">Categorías</a>
                    <div class="sub-menu-header">
                        <ul class="ul-header">
                            <li><a href="/category/animales">Animales</a></li>
                            <li><a href="/category/arte">Arte</a></li>
                            <li><a href="/category/botanica">Botánica</a></li>
                            <li><a href="/category/ciudades">Ciudades</a></li>
                            <li><a href="/category/frases">Frases</a></li>
                            <li><a href="/category/naturaleza">Naturaleza</a></li>
                            <li><a href="/category/sets">Sets</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/mayorista">Mayorista</a></li>
                <li><a href="/nosotras">Nosotras</a></li>
                <li><a href="/faq">FAQ</a></li>
            <!-- </div> -->
            </ul>
        </nav>
    </div>
    <div class="header-right">
        <!-- Burguer Menu -->
        <div class="burger-menu">
            <i class="fas fa-bars Burguer" id="open-mobile-menu"></i>
        </div>
        <!-- Si estoy logueado -->
        <% if (locals.user) { %>
            <form action="/logout" method="POST">
                <div class="logdata">
                <a class="logname" id="logname" href="/user" >Hola, <%= locals.user.name %> <%= locals.user.cart %>! </a>
                <button class="logout" id="cerrar" type="submit">Cerrar sesión
                </button>
            </div>
            </form>
        <% } else {%>

            <!-- Si no estoy logueado -->
            <div class="header-btns-container">
                <a href="/login" class="header-btn" id="abrir">Iniciar Sesión</a>
                <hr class="btns-line">
                <a href="/register" id="abrir2" class="header-btn">Crear Cuenta</a>
            </div>
            <% }%>
        <!-- Cart -->
        <div class="cart-btn">
            <a href="/cart" style="color: black;"><i class="fas fa-shopping-cart" id="open-cart"></i></a>
        </div>
    </div>
</header>
<div class="fixheader"></div>
<script src="/JS/header.js"></script>
</div>
<%- include('./menu-mobile') %> 

 

