<div class="container">
    <div class="space"></div>
<header>
    <div class="header-left">
        <!-- Logo -->
        <figure class="logo">
            <a href="/">
                <img src="../../images/logoNegro.png" alt="" width="100%">
            </a>
        </figure>
    </div>
    <div class="header-center">
        <!-- Searcher -->
        <form class="nav-search" action="">
            <button class="nav-search-btn" type="submit"><i class="fas fa-search"></i></button>
            <input type="text" class="nav-search-input" placeholder="Buscar">
        </form>
         <!-- Menu -->
        <nav class="menu">
            <ul class="initialbar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/category/animales">Categorías</a></li>
                <li><a href="/mayorista">Mayorista</a></li>
                <li><a href="/nosotras">Nosotras</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-right">
        <!-- Burguer Menu -->
        <div class="burger-menu">
            <i class="fas fa-bars Burguer" id="open-mobile-menu"></i>
        </div>
        <!-- Si estoy logueado -->
        <% if (locals.user) { %>
            <form action="/logout" method="POST">
                <div class="logdata">
                <a class="logname" id="logname" href="/user" >Hola, <%= locals.user.name %> + <%= locals.user.cart %>! </a>
                <button class="logout" id="cerrar" type="submit">Cerrar sesión
                </button>
            </div>
            </form>
        <% } else {%>

            <!-- Si no estoy logueado -->
            <div class="header-btns-container">
                <a href="/login" class="header-btn" id="abrir">Iniciar Sesión</a>
                <hr class="btns-line">
                <a href="/register" id="abrir2" class="header-btn">Crear Cuenta</a>
            </div>
            <% }%>
        <!-- Cart -->
        <div class="cart-btn">
            <a href="/cart" style="color: black;"><i class="fas fa-shopping-cart" id="open-cart"></i></a>
        </div>
    </div>
</header>
<div class="fixheader"></div>
</div>
<%- include('./menu-mobile') %> 

 

