<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="admin-general-container">
    <div class="admin-top-buttons">
        <a href="/admin/list"><button class="admin-top-btn admin-button">Pics</button></a>
        <a href="/admin"><button class="admin-top-btn admin-button">Crear</button></a>
        <!-- <a href=""><button class="admin-top-btn admin-button">Editar</button></a> -->
    </div>
    <div class="admin-container">
        <div class="whole-list">
            <a href=""><p>lorem100</p></a>
        </div>
        <span class="admin-select-text">Seleccioná un producto para editar o eliminar</span>
    </div>
    </div>
    <p style="text-align: center; color: red;">errores</p>

    <%- include('./partials/footer') %>
</body>

</html>