<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %> 
    <title>Preguntas Frecuentes</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="banner-container-FAQ"> 
        <img class="fondofaq" src="/images/523.jpg" alt="">
           <H2 id="F" class="letranegra">F</H2>
           <H2 id="A" class="letrablanca">A</H2>
           <H2 id="Q" class="letranegra">Q</H2>
       </div>
       <div class="FAQtitle">
           <h3 class="tituloFAQ" >Sacate las dudas <br>con nuestras <br>Preguntas Frecuentes</h3>
           <div class="clipimg">
                <img src="/images/clip.png" alt="">
           </div>
       </div>
       <section class="FAQquestions">
           <article class="FAQarticles">
               <div class="articletitle">
                <i class="far fa-lightbulb"></i>
                   <h3 class="articleh3">Como Comprar?</h3>
                </div>
                   <p class="articleparag">Comprar en Wallpic es fácil y sencillo.Lo primero que debes hacer es encontrar el producto que quieras dentro de nuestros catálogos.
                    <br><br>  Una vez seleccionado, elige el color del marco y el tamaño de tu cuadro, y listo! </p>
           </article>
           <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Estas buscando una medida o diseño que no esta
                    en nuestras opciones?</h3>
             </div>
                <p class="articleparag">No te preocupes! En Wallpic tomamos pedidos personalizados para que cada uno de nuestros clientes pueda decorar sus paredes con los diseños que mas les guste. <br><br> Escribinos a wallpic@gmail.com y nos pondremos en contacto con vos. </p>
        </article>
        <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Que pasa si un cuadro se rompe durante el envio 

                    a mi domicilio?</h3>
             </div>
                <p class="articleparag">Te garantizamos tu pedido en perfecto estado. Embalamos nuestros productos para evitar cualquier rotura y que puedas disfrutarlo sano y salvo. <br><br> En caso de romperse, solo te tenes que comunicar con nosotras y nos ocuparemos de enviarte uno nuevo </p>
        </article>
        <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Quiero retirar mi pedido por un punto de retiro</h3>
             </div>
                <p class="articleparag">Tenemos dos puntos de retiro en Capital Federal para que los 
                    clientes puedan venir a retirar sus productos: Palermo y Nuñez. 
                   <br> Solo tenes que comunciarte con nosotros, y programaremos tu 
                    visita.</p>
        </article>
        <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Cuanto tarda en llegar mi pedido?</h3>
             </div>
                <p class="articleparag">Hacemos nuestros cuadros a pedido, pero eso no impide nuestro objetivo de entregar los pedidos <strong>en 5 dias hábiles.</strong>
                   <br><br> En caso del interior del pais, estaremos despachando el pedido antes de los 5 dias para que te llegue lo antes posible</p>
        </article>
        <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Vi algo que no me gusto y me gustaria 

                    devolver el cuadro</h3>
             </div>
                <p class="articleparag">Estamos abiertas a escuchar para aprender y conocer a nuestros clientes, por lo que si uno de nuestros cuadros no te gusto, avísanos para analizar la devolución de tu dinero. 
                    <br> Nuestro objetivo siempre es que nuestros clientes sean felices! </p>
        </article>
        <article class="FAQarticles">
            <div class="articletitle">
             <i class="far fa-lightbulb"></i>
                <h3 class="articleh3">Mi pregunta no se encuentra aqui</h3>
             </div>
                <p class="articleparag">No encontrar tu pregunta en nuestra pagina? No importa! Escribirnos a wallpic@gmail.com y hacenos la consulta que necesites. </p>
        </article>
       </section>
    <%- include('./partials/footer') %>
</body>
</html>