<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpic</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>
    <div class="banner-container"> 
        <img class="fondo" src="/images/414.jpg" alt="">
       </div>
       <img class="marco" src="/images/marco_Color_madera.PNG">
       <img class="logo-banner" src="/images/logoNegro.png" alt="">
       <h2 class="frase1">UNA NUEVA FORMA</h2>
       <h2 class="frase2">DE DECORAR TU HOGAR</h2>
       <div class="carousel-title">
           <h2 class="titulomasvendidos"> Los Mas Vendidos</h2>
           <a class="vermasvendidos" href="#">ver mas</a>
       </div>
       <div class="carousel">
           <i id="leftarrow" class="fas fa-arrow-circle-left"></i>
           <i  id="rightarrow" class="fas fa-arrow-circle-right"></i>
           <ul>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
               <li class="articulo">
                   <img class="producto" src="/images/Animales/buho.jpg" alt="">
                   <h3 class="titulo"> BUHO OJO CELESTE</h3>
                   <P class="PRECIO"> $2.500</P>
               </li>
   
           </ul>
       </div>
       <div class="categorias-title">
           <h2 class="titulocategoria"> Categorías</h2>  
       </div>
       <section class="categorias-stand">
           <article>
                   <a class="categoria-link" href="/category/animales">
                       <img class="categoria-foto" src="/images/Animales/Buho.jpg" alt="">
                           <h2 class="categoria">ANIMALES</h2></a>
           </article>
   
           <article>
               <a class="categoria-link" href="/category/arte">
                   <img class="categoria-foto" src="/images/arte/caras-lovers.jpg" alt="">
                       <h2 class="categoria">ARTE</h2></a>
       </article>
       <article>
           <a class="categoria-link" href="/category/botanica">
               <img class="categoria-foto" src="/images/botanica/flor-rosa-en-agua.jpg" alt="">
                   <h2 class="categoria">BOTANICA</h2></a>
   </article>
   <article>
       <a class="categoria-link" href="/category/ciudades">
           <img class="categoria-foto" src="/images/Ciudades/downtown-buenos-aires.jpg" alt="">
               <h2 class="categoria">CIUDADES</h2></a>
   </article>
   <article>
       <a class="categoria-link" href="/category/frases">
           <img class="categoria-foto" src="/images/frases/prada-vertical.jpg" alt="">
               <h2 class="categoria">FRASES</h2></a>
   </article>
   <article>
       <a class="categoria-link" href="/category/naturaleza">
           <img class="categoria-foto" src="/images/Naturaleza/looking-for-paradise.jpg" alt="">
               <h2 class="categoria">NATURALEZA</h2></a>
   </article>
   <article id="setscombinados-article">
       <a class="categoria-link" href="/category/sets">
           <img id="setscombinados-img" class="categoria-foto" src="/images/sets-combinados/abstract-organic.jpg" alt="">
               <h2 id="setscombinados-titulo" class="categoria">SETS <br> COMBINADOS </h2></a>
   </article>
         
       </section>
   
       <script src="/JS/index.js" ></script>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %>
</body>
</html>