<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %> 
    <title>Grandes Clientes</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="banner-container-MAYORISTA"> 
        <img class="fondomayorista" src="/images/750.jpg" alt="">
           <H2 id="M" class="letranegra">M</H2>
           <H2 id="A3" class="letrablanca">A</H2>
           <H2 id="Y" class="letranegra">Y</H2>
           <H2 id="O3" class="letrablanca">O</H2>
           <H2 id="R2" class="letranegra">R</H2>
           <H2 id="I" class="letrablanca">I</H2>
           <H2 id="S3" class="letranegra">S</H2>
           <H2 id="T2" class="letrablanca">T</H2>
           <H2 id="A4" class="letrablanca">A</H2>
    </div>
    <div class="container-mayorista">
        <h2 class="mayorista-title">Vende nuestros productos!</h2>
        <article class="mayorista-article">
            <p>Te gustan nuestro cuadros?
                <br><br>
                Contactate con nosotras y entérate 
                de las alternativas de reventa que 
                ofrecemos. 
                <br><br>
                Mándanos un mail a 
                <strong> wallpicmayoristas@gmail.com </strong> y 
                sumate al mundo deco friendly</p>
            <div class="container-mayorista-foto">
                <img src="/images/48.jpg" alt="">
            </div>
        </article>
    </div>
    <div class="mayorista-animaciones">
    <img id="mayorista-animacion-1" src="/images/downtown-buenos-aires.jpg" alt="">
    <img id="mayorista-animacion-2" src="/images/Buenos-Aires-Argentina.jpg" alt="">
    <img id="mayorista-animacion-3" src="/images/organico-oro.jpg" alt="">
    <img id="mayorista-animacion-4" src="/images/organico1.jpg" alt="">
    <img id="mayorista-animacion-5" src="/images/london.jpg" alt="">
    <img id="mayorista-animacion-6" src="/images/prada-vertical.jpg" alt="">
    <img id="mayorista-animacion-7" src="/images/Playita-1.jpg" alt="">
    <img id="mayorista-animacion-8" src="/images/playita-2.jpg" alt="">
    <img id="mayorista-animacion-9" src="/images/canales-de-venecia.jpg" alt="">
    <img id="mayorista-animacion-10" src="/images/reflejo-en-el-agua.jpg" alt="">
    <img id="mayorista-animacion-11" src="/images/Landing-in-Cappadocia.jpg" alt="">
    </div>
    <%- include('./partials/footer') %>
</body>
</html>