<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %> 
    <title>Nosotros</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="banner-container-NOSOTRAS"> 
        <img class="fondonosotras" src="/images/4331.jpg" alt="">
           <H2 id="N" class="letranegra">N</H2>
           <H2 id="O" class="letrablanca">O</H2>
           <H2 id="S" class="letranegra">S</H2>
           <H2 id="O2" class="letrablanca">O</H2>
           <H2 id="T" class="letranegra">T</H2>
           <H2 id="R" class="letrablanca">R</H2>
           <H2 id="A2" class="letranegra">A</H2>
           <H2 id="S2" class="letrablanca">S</H2>
       </div>
    
       <section class="container-nosotras">
           <article class="nosotras-article">
               <div class="texto-derecha">
                    <h3 class="titulo-nosotras">Somos Wallpic</h3>
                    <p class="nosotras-parraf">Somos dos mejores amigas que nos dimos cuenta que podíamos a ayudar a la gente a decorar su hogar de una manera muy simple y accesible. 
                    <br><br>
                Nuestra experiencia previa en  e-commerce,  diseño y construcción  nos dieron una base fundamental para emprender este proyecto</p>
                </div>  
                <div class="foto-container-nosotras">
                    <img class="img-nosotras-1" src="/images/9731.jpg" alt="">
                </div>
           </article>
           <article class="nosotras-article">
            <div class="foto-container-nosotras">
                <img class="img-nosotras-2" src="/images/242965-P3BJDM-739.jpg" alt="">
            </div>
                <DIV class="texto-izquierda">
                    <h3 class="titulo-nosotras">Wallpic Verde</h3>
                    <p class="nosotras-parraf-2">Cuidamos el medio ambiente y nuestros productos tambien!  
                    <br><br>
                    Nuestros marcos estan hechos de madera de kiri, uno de los arboles mas sustentables del planeta.
                    <br><br>
                    Trabajamos con rendimientos máximos, para no desaprovechar ningún centímetro de nuestras materias primas.</p>
                </DIV>
            </article>
        <article class="nosotras-article">
            <div class="texto-derecha">
                <h3 class="titulo-nosotras">Trabajamos 

                Para Vos</h3>
                <p class="nosotras-parraf-3">Siempre escuchamos a nuestros 
                clientes. 
                <br><br>
                Para nosotras, lo importante es 
                que te puedas llevar el diseño que 
                mas te guste y combine con tu 
                hogar.</p>  
            </div>
            <div class="foto-container-nosotras-cuadrado">
                <img src="/images/1341.jpg" alt="">
            </div>
        </article>
       </section>
    <%- include('./partials/footer') %>
</body>
</html>